PRODUCT_BUNDLE_IDENTIFIER = com.blazegreenhalgh.Supper
CLOUDKIT_CONTAINER_IDENTIFIER = iCloud.com.blazegreenhalgh.Supper
DEVELOPMENT_TEAM = H8STHXYFGD
CODE_SIGN_STYLE = Automatic
APS_ENVIRONMENT = development
IPHONEOS_DEPLOYMENT_TARGET = 18.0
SWIFT_VERSION = 5.0
MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 1
#include? "Local.xcconfig"
